# Categorical Data in pandas

In [2]:
import pandas as pd

adult = pd.read_csv('data/adult.csv')
adult.rename(columns={
    "marital.status": "Marital Status",
    "income": "Above/Below 50k",
    "age": "Age",
    "education.num": "Education Num"
}, inplace=True)
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   Education Num    32561 non-null  int64
 5   Marital Status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   sex              32561 non-null  object
 10  capital.gain     32561 non-null  int64
 11  capital.loss     32561 non-null  int64
 12  hours.per.week   32561 non-null  int64
 13  native.country   32561 non-null  object
 14  Above/Below 50k  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
adult["Marital Status"].describe()

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: Marital Status, dtype: object

In [4]:
adult["Marital Status"].value_counts()

Marital Status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [5]:
adult["Marital Status"].value_counts(normalize=True)

Marital Status
Married-civ-spouse       0.459937
Never-married            0.328092
Divorced                 0.136452
Separated                0.031479
Widowed                  0.030497
Married-spouse-absent    0.012837
Married-AF-spouse        0.000706
Name: proportion, dtype: float64

In [6]:
adult.dtypes

Age                 int64
workclass          object
fnlwgt              int64
education          object
Education Num       int64
Marital Status     object
occupation         object
relationship       object
race               object
sex                object
capital.gain        int64
capital.loss        int64
hours.per.week      int64
native.country     object
Above/Below 50k    object
dtype: object

We use the `dtype` property, as opposed to the `dtypes` property,   
since we are working with a **Series** and not a DataFrame.   
Pandas uses a capital O to represent the object dtype.

In [7]:
adult["Marital Status"].dtype

dtype('O')

## Convert to category type

In [8]:
adult['Marital Status'] = adult['Marital Status'].astype('category')

In [9]:
adult['Marital Status'].dtype

CategoricalDtype(categories=['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
                  'Married-spouse-absent', 'Never-married', 'Separated',
                  'Widowed'],
, ordered=False, categories_dtype=object)

## Creating a categorical Series

1. Way - **Creating a categorical Series** `pd.Series`  
   We can use pd-dot-series on a list or array of data and set the dtype argument to category.

In [10]:
my_data = ["A", "A", "C", "B", "C", "A"]
my_series1 = pd.Series(my_data, dtype="category")
print(my_series1)
# ??? print(adult["Marital Status"].dtype)

0    A
1    A
2    C
3    B
4    C
5    A
dtype: category
Categories (3, object): ['A', 'B', 'C']

2. Way - with `pd.Categorical`  
   We are showing this alternative way because it allows us to tell pandas that the categories have a `logical order` by setting the ordered argument equal to true.   
   The order is set by using the categories parameter. Whichever order you list the categories in will be the order of the categories going forward.   
   >Notice that the print out states that the order is C, then B, then A, which matches the order we used when creating the categorical Series.

In [11]:
my_data = ["A", "A", "C", "B", "C", "A"]
my_series2 = pd.Categorical(my_data, categories=["C", "B", "A"], ordered=True)
my_series2

['A', 'A', 'C', 'B', 'C', 'A']
Categories (3, object): ['C' < 'B' < 'A']

### Why do we use categorical: memory
Memory saver: (as an object - much more memory than as a categorical)

In [12]:
adult["Marital Status"].nbytes

32617

## Specify dtypes when reading data

In [13]:
"""
# 1. Create a dictionary:
adult_dtypes = {"marital.status": "category"}

# 2. Set the dtype parameter:
adult = pd.read_csv("data/adult.csv", dtype=adult_dtypes)

# 3. Check the dtype :
adult["marital.status"].dtype
"""

'\n# 1. Create a dictionary:\nadult_dtypes = {"marital.status": "category"}\n\n# 2. Set the dtype parameter:\nadult = pd.read_csv("data/adult.csv", dtype=adult_dtypes)\n\n# 3. Check the dtype :\nadult["marital.status"].dtype\n'

In [14]:
# Define the data types for multiple columns
"""
dtypes = {
    "marital.status": "category",
    "age": "int64",
    "income": "object",  # Read income as object (string)
    "education": "category"
}

# Read the CSV file with specified data types for the columns
df = pd.read_csv('data/adult.csv', dtype=dtypes)

# Process the income column to convert it to a categorical type
df['income'] = df['income'].astype('category')
"""

'\ndtypes = {\n    "marital.status": "category",\n    "age": "int64",\n    "income": "object",  # Read income as object (string)\n    "education": "category"\n}\n\n# Read the CSV file with specified data types for the columns\ndf = pd.read_csv(\'data/adult.csv\', dtype=dtypes)\n\n# Process the income column to convert it to a categorical type\ndf[\'income\'] = df[\'income\'].astype(\'category\')\n'

## Grouping data by category in pandas

### The basics of .groupby(): splitting data

In [15]:
# Check the column names to confirm the correct column name
print(adult.columns)

# Group by the correct column name
groupby_object = adult.groupby(by=["Above/Below 50k"]).size()
print(groupby_object)

Index(['Age', 'workclass', 'fnlwgt', 'education', 'Education Num',
       'Marital Status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'Above/Below 50k'],
      dtype='object')
Above/Below 50k
<=50K    24720
>50K      7841
dtype: int64

## The basics of .groupby(): apply a function

The `TypeError` occurs because the mean function is being applied to columns with `non-numeric` data types. To fix this, you need to ensure that only numeric columns are included when calculating the mean.

Here's how you can modify your code to handle this:

1. Select only the numeric columns from the DataFrame.
2. Apply the groupby and mean functions to these numeric columns.

In [16]:
#groupby_object = adult.groupby(by=["Above/Below 50k"])
#groupby_object.mean()

#adult.groupby(by=["Above/Below 50k"]).mean()

# Select only numeric columns
numeric_columns = adult.select_dtypes(include=['number'])

# Combine the numeric columns with the grouping column
adult_numeric = adult[["Above/Below 50k"]].join(numeric_columns)

# Group by the specified column and calculate the mean
groupby_object = adult_numeric.groupby(by=["Above/Below 50k"]).mean()

print(groupby_object)

                       Age        fnlwgt  Education Num  capital.gain  \
Above/Below 50k
<=50K            36.783738  190340.86517       9.595065    148.752468
>50K             44.249841  188005.00000      11.611657   4006.142456

                 capital.loss  hours.per.week
Above/Below 50k
<=50K               53.142921       38.840210
>50K               195.001530       45.473026

## Specifying columns

Option 1: only runs .sum() on two columns.

In [17]:
adult.groupby(by=["Above/Below 50k"])[['Age', 'Education Num']].sum()

                    Age  Education Num
Above/Below 50k
<=50K            909294         237190
>50K             346963          91047

Option 2: runs .sum() on all numeric columns and then subsets.

In [18]:
#adult.groupby(by=["Above/Below 50k"]).sum()[['Age', 'Education Num']]

# Select only numeric columns
numeric_columns = adult.select_dtypes(include=['number'])

# Combine the numeric columns with the grouping column
adult_numeric = adult[["Above/Below 50k"]].join(numeric_columns)

# Group by the specified column and calculate the sum
groupby_object = adult_numeric.groupby(by=["Above/Below 50k"]).sum()

# Select the desired columns
result = groupby_object[['Age', 'Education Num']]

print(result)

                    Age  Education Num
Above/Below 50k
<=50K            909294         237190
>50K             346963          91047

In [19]:
# Convert categorical to numeric if possible
adult['Age'] = pd.to_numeric(adult['Age'], errors='coerce')
adult['Education Num'] = pd.to_numeric(adult['Education Num'], errors='coerce')

# Then perform the groupby
result = adult.groupby(by=["Above/Below 50k"])[['Age', 'Education Num']].sum()
print(result)

                    Age  Education Num
Above/Below 50k
<=50K            909294         237190
>50K             346963          91047

Option 1 is preferred - especially when using large datasets

## Groupby multiple columns

In [20]:
adult.groupby(by=["Above/Below 50k", "Marital Status"]).size()

C:\Users\kurba\AppData\Local\Temp\ipykernel_25300\3532837120.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adult.groupby(by=["Above/Below 50k", "Marital Status"]).size()

Above/Below 50k  Marital Status
<=50K            Divorced                  3980
                 Married-AF-spouse           13
                 Married-civ-spouse        8284
                 Married-spouse-absent      384
                 Never-married            10192
                 Separated                  959
                 Widowed                    908
>50K             Divorced                   463
                 Married-AF-spouse           10
                 Married-civ-spouse        6692
                 Married-spouse-absent       34
                 Never-married              491
                 Separated                   66
                 Widowed                     85
dtype: int64