# Setting category variables

In [61]:
import pandas as pd 
dogs = pd.read_csv('data/ShelterDogs.csv')
dogs.info()

'''
# Display data types and non-null counts
print("Data Types Summary:")
print(dogs.dtypes)
print("\nSample of unique values per column:")

# Check unique values in each column
for column in dogs.columns:
    n_unique = dogs[column].nunique()
    print(f"\n{column}: {n_unique} unique values")
    if n_unique < 10:  # Show examples only for columns with few unique values
        print(dogs[column].unique())

# Identify potential categorical columns based on:
# - Object/string data type
# - Small number of unique values
# - Non-numeric content

categorical_candidates = dogs.select_dtypes(include=['object']).columns
print("\nPotential categorical columns:")
print(list(categorical_candidates))'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   object
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 436.1+ KB

'\n# Display data types and non-null counts\nprint("Data Types Summary:")\nprint(dogs.dtypes)\nprint("\nSample of unique values per column:")\n\n# Check unique values in each column\nfor column in dogs.columns:\n    n_unique = dogs[column].nunique()\n    print(f"\n{column}: {n_unique} unique values")\n    if n_unique < 10:  # Show examples only for columns with few unique values\n        print(dogs[column].unique())\n\n# Identify potential categorical columns based on:\n# - Object/string data type\n# - Small number of unique values\n# - Non-numeric content\n\ncategorical_candidates = dogs.select_dtypes(include=[\'object\']).columns\nprint("\nPotential categorical columns:")\nprint(list(categorical_candidates))'

In [62]:
dogs["coat"] = dogs["coat"].astype("category")
dogs["coat"].value_counts(dropna=False)

coat
short         1972
medium         565
wirehaired     220
long           180
Name: count, dtype: int64

## Setting Series categories

Set categories: (Convert the variables in the column to a categorical `Series`.)

In [63]:
dogs["coat"] = dogs["coat"].cat.set_categories(
new_categories=["short", "medium", "long"]
)

Check value counts:  
Checking the value counts of this Series again, we see that the wirehaired responses have been set to NaN. This happens because the ``wirehaired category is not listed in the new-categories`` parameter and is no longer recognized.

In [64]:
dogs["coat"].value_counts(dropna=False)

coat
short     1972
medium     565
NaN        220
long       180
Name: count, dtype: int64

## Setting order

In [65]:
dogs["coat"] = dogs["coat"].cat.set_categories(
new_categories=["short", "medium", "long"],
ordered=True
)
dogs["coat"].head(3)

0    short
1    short
2    short
Name: coat, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

## Missing categories

In [66]:
dogs["likes_people"].value_counts(dropna=False)

likes_people
yes    1991
NaN     938
no        8
Name: count, dtype: int64

## Adding categories

Add categories

In [67]:
dogs["likes_people"] = dogs["likes_people"].astype("category")
dogs["likes_people"] = dogs["likes_people"].cat.add_categories(
new_categories=["did not check", "could not tell"]
)

Check categories:

In [68]:
dogs["likes_people"].cat.categories

Index(['no', 'yes', 'did not check', 'could not tell'], dtype='object')

## *New categories
Although we added categories, this doesn't mean any rows of our data were set to these categories. Checking the value counts one more time verifies this.

In [69]:
dogs["likes_people"].value_counts(dropna=False)

likes_people
yes               1991
NaN                938
no                   8
did not check        0
could not tell       0
Name: count, dtype: int64

## Removing categories

In [70]:
dogs = pd.read_csv('data/ShelterDogs.csv')
dogs["coat"] = dogs["coat"].astype("category")
dogs["coat"] = dogs["coat"].cat.remove_categories(removals=["wirehaired"])

Check the categories:

In [71]:
dogs["coat"].cat.categories

Index(['long', 'medium', 'short'], dtype='object')

In [72]:
dogs["coat"].value_counts(dropna=False)

coat
short     1972
medium     565
NaN        220
long       180
Name: count, dtype: int64

This method takes a list of categories to remove using the removals parameter. In this example, we remove the wirehaired category altogether. This also means that all wirehaired values will be set to ``NaN values``.

---

In [73]:
# Check frequency counts while also printing the NaN count
print(dogs["keep_in"].value_counts(dropna=False))

# Switch to a categorical variable
dogs["keep_in"] = dogs["keep_in"].astype("category")

# Add new categories
new_categories = ["Unknown History", "Open Yard (Countryside)"]
dogs["keep_in"] = dogs["keep_in"].cat.add_categories(new_categories)

keep_in
both flat and garden    1224
NaN                     1021
garden                   510
flat                     182
Name: count, dtype: int64

## Updating categories

### The breed variable
Breed value counts:

In [74]:
dogs["breed"] = dogs["breed"].astype("category")
dogs["breed"].value_counts()

breed
Unknown Mix                        1524
German Shepherd Dog Mix             190
Dachshund Mix                       147
Labrador Retriever Mix               83
Staffordshire Terrier Mix            62
                                   ...
Vizsla, Whippet Mix                   1
Akita, German Shepherd Dog Mix        1
West Highland White Terrier Mix       1
Akita                                 1
Yorkshire Terrier                     1
Name: count, Length: 277, dtype: int64

## Renaming categories

The rename_categories method:

Make a dictionary:

In [75]:
my_changes = {"Unknown Mix": "Unknown"}

Rename the category:

In [76]:
dogs["breed"] = dogs["breed"].cat.rename_categories(my_changes)

In [77]:
dogs["breed"].value_counts()

breed
Unknown                            1524
German Shepherd Dog Mix             190
Dachshund Mix                       147
Labrador Retriever Mix               83
Staffordshire Terrier Mix            62
                                   ...
Vizsla, Whippet Mix                   1
Akita, German Shepherd Dog Mix        1
West Highland White Terrier Mix       1
Akita                                 1
Yorkshire Terrier                     1
Name: count, Length: 277, dtype: int64

Multiple changes at once:

In [78]:
'''my_changes = {
old_name1: new_name1,
old_name2: new_name2,
...
}
Series.cat.rename_categories(
my_changes
)'''

'my_changes = {\nold_name1: new_name1,\nold_name2: new_name2,\n...\n}\nSeries.cat.rename_categories(\nmy_changes\n)'

## Renaming categories with a function (lambda)

Update multiple categories:

In [79]:
# First convert to categorical
dogs['sex'] = dogs['sex'].astype('category')
print(dogs["sex"].value_counts(dropna=False))

# Then use cat accessor to rename categories
dogs['sex'] = dogs['sex'].cat.rename_categories(lambda c: c.title())
dogs['sex'].cat.categories

sex
male      1681
female    1256
Name: count, dtype: int64

Index(['Female', 'Male'], dtype='object')

## Collapsing categories setup

In [80]:
dogs["color"] = dogs["color"].astype("category")
print(dogs["color"].cat.categories)

Index(['apricot', 'black', 'black and brown', 'black and tan',
       'black and white', 'brown', 'brown and white', 'dotted', 'golden',
       'gray', 'gray and black', 'gray and white', 'red', 'red and white',
       'sable', 'saddle back', 'spotty', 'striped', 'tricolor', 'white',
       'wild boar', 'yellow', 'yellow-brown'],
      dtype='object')

### 1. ".replace" !!! WARNING - deprecation. (=> `use ".map()"`)  
 1.1. 
 Create a dictionary and use .replace :

In [81]:
update_colors = {
"black and brown": "black",
"black and tan": "black",
"black and white": "black",
}
dogs["main_color"] = dogs["color"].replace(update_colors)

C:\Users\kurba\AppData\Local\Temp\ipykernel_36032\2453951500.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dogs["main_color"] = dogs["color"].replace(update_colors)

1.2. Check the Series data type:

In [82]:
dogs["main_color"].dtype

CategoricalDtype(categories=['apricot', 'black', 'brown', 'brown and white', 'dotted',
                  'golden', 'gray', 'gray and black', 'gray and white', 'red',
                  'red and white', 'sable', 'saddle back', 'spotty', 'striped',
                  'tricolor', 'white', 'wild boar', 'yellow', 'yellow-brown'],
, ordered=False, categories_dtype=object)

1.3. Convert back to categorical

In [83]:
dogs["main_color"] = dogs["main_color"].astype("category")
dogs["main_color"].cat.categories

Index(['apricot', 'black', 'brown', 'brown and white', 'dotted', 'golden',
       'gray', 'gray and black', 'gray and white', 'red', 'red and white',
       'sable', 'saddle back', 'spotty', 'striped', 'tricolor', 'white',
       'wild boar', 'yellow', 'yellow-brown'],
      dtype='object')

## Modern approach 1: ".map()" with dictionary

In [84]:
mapping = {
    'Unknown Mix': 'Unknown',
    'Mixed Breed': 'Unknown',
    'Labrador': 'Labrador'
}
dogs['breed'] = dogs['breed'].map(mapping).astype('category')
# Verify results
print("Categories:", dogs['breed'].cat.categories)
print("\nValue counts:")
print(dogs['breed'].value_counts())

Categories: Index([], dtype='float64')

Value counts:
Series([], Name: count, dtype: int64)

## Reordering categories

In [91]:
# View existing categories
dogs = pd.read_csv('data/ShelterDogs.csv')

# Convert to categorical type
dogs["coat"] = dogs["coat"].astype('category')

# Now we can access categories
print(dogs["coat"].cat.categories)

Index(['long', 'medium', 'short', 'wirehaired'], dtype='object')

In [93]:
dogs['coat'] = dogs["coat"].cat.reorder_categories(
new_categories = ['short', 'medium', 'wirehaired', 'long'],
ordered=True
)
print(dogs["coat"].cat.categories)

Index(['short', 'medium', 'wirehaired', 'long'], dtype='object')

## Grouping when ordered=True

!!! WARNING: in "groupby":


observed=False - must be specified, as standart behaivior is changed

In [95]:
dogs['coat'] = dogs["coat"].cat.reorder_categories(
new_categories = ['short', 'medium', 'wirehaired', 'long'],
ordered=True
)
dogs.groupby(by=['coat'], observed=False)['age'].mean()

coat
short         8.364746
medium        9.027982
wirehaired    8.424136
long          9.552056
Name: age, dtype: float64

## Grouping when ordered=False

In [97]:
dogs['coat'] = dogs["coat"].cat.reorder_categories(
new_categories = ['short', 'medium', 'long', 'wirehaired'],
ordered=False
)
dogs.groupby(by=['coat'], observed=False)['age'].mean()

coat
short         8.364746
medium        9.027982
long          9.552056
wirehaired    8.424136
Name: age, dtype: float64

___

# Cleaning and accessing data  
Possible issues with categorical data
1) Inconsistent values: "Ham" , "ham" , " Ham"
2) Misspelled values: "Ham" , "Hma"
3) Wrong dtype : df['Our Column'].dtype =>
dtype('O')

## Identifying issues

1. Series.cat.categories

In [ ]:
# First convert to categorical
dogs["get_along_cats"] = dogs["get_along_cats"].astype('category')

# Then access categories (note: no parentheses)
print(dogs["get_along_cats"].cat.categories)

Index(['no', 'yes'], dtype='object')

2. Series.value_counts()

In [98]:
dogs["get_along_cats"].value_counts()

get_along_cats
yes    275
no     156
Name: count, dtype: int64

## Fixing issues: whitespace

Removing whitespace: .strip()

In [102]:
dogs["get_along_cats"] = dogs["get_along_cats"].str.strip()

## Fixing issues: capitalization

Capitalization: .title() , .upper() , .lower()

In [104]:
dogs["get_along_cats"] = dogs["get_along_cats"].str.title()

## Fixing issues: misspelled words

Fixing a typo with .replace()

In [ ]:

replace_map = {"Noo": "No"}
dogs["get_along_cats"].replace(replace_map, inplace=True)

C:\Users\kurba\AppData\Local\Temp\ipykernel_36032\2589674448.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dogs["get_along_cats"].replace(replace_map, inplace=True)

## !!! Warning- Pandas 2.x (Current)

In [107]:
# Recommended way 1 - Direct assignment
dogs['get_along_cats'] = dogs['get_along_cats'].replace({'Noo': 'No'})

# Recommended way 2 - DataFrame level operation
dogs.replace({'get_along_cat': {'Noo': 'No'}}, inplace=True)

## Checking the data type
Checking the dtype

In [108]:
dogs["get_along_cats"].dtype

dtype('O')

Converting back to a category

In [110]:
dogs["get_along_cats"] = dogs["get_along_cats"].astype("category")
dogs["get_along_cats"].dtype

CategoricalDtype(categories=['No', 'Yes'], ordered=False, categories_dtype=object)

## Using the str accessor object
Searching for a string

In [111]:
dogs["breed"].str.contains("Shepherd", regex=False)

0       False
1       False
2       False
3       False
4       False
        ...
2932    False
2933    False
2934    False
2935    False
2936     True
Name: breed, Length: 2937, dtype: bool

## Accessing data with loc
Access Series values based on category  
We can access the size of the dogs that get along with cats by using the loc method, specifying that dogs get along with cats, and selecting the size column.

In [112]:
dogs.loc[dogs["get_along_cats"] == "Yes", "size"]

1        small
6        small
9        small
13       small
16       small
         ...
2722    medium
2746    medium
2763    medium
2809     large
2815    medium
Name: size, Length: 275, dtype: object

Series value counts:

In [113]:
dogs.loc[dogs["get_along_cats"] == "Yes", "size"].value_counts(sort=False)

size
small      69
medium    169
large      37
Name: count, dtype: int64